APP_MODE=local_fontes_publicas
API_URL=https://SEU-BACKEND-RENDER.onrender.com
DATABASE_URL=sqlite:///data/database.db
APP_BASE_PATH=/app
CORS_ORIGINS=*
COOKIE_SAMESITE=none
COOKIE_SECURE=true
AUTH_REQUIRED=true
